/** @format */

.input {
  height: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
}

.modal {
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: var(--color-lightest);
  box-shadow: 0 0 10vw rgba(0, 0, 0, 0.45), 2rem 2rem 0 rgba(0, 0, 0, 0.05), -2rem -2rem 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-flow: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 900;
}

.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 100rem;
  padding: 5rem 4rem;
  width: 100%;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50rem;
  width: 45%;
}

.license {
  background: #fff;
  border: 1px solid var(--color-lighter);
  border-radius: 1rem;
  width: 100%;
}

.header {
  align-items: baseline;
  border-bottom: 1px solid var(--color-lighter);
  display: flex;
  flex-flow: row nowrap;
  line-height: 1;
  justify-content: space-between;
  margin: 0;
  padding: 2rem 2rem 1.2rem;
}

.state {
  color: var(--color-sailboat);
  display: block;
  font-family: var(--font-aside);
  font-size: 2rem;
  padding: 0 0 0.4rem 0;
}

.type {
  color: var(--color-dark);
  display: block;
  font-family: var(--font-body);
  font-size: 1.4rem;
}

.info {
  padding: 1rem 2rem 2.5rem;
}

.num,
.dob,
.exp {
  color: var(--color-dark);
  display: block;
  font-size: 1.4rem;
  line-height: 1;
  padding: 1.5rem 0 0;
}

.num {
  color: var(--color-black);
  font-size: 2.4rem;
}

.footer {
  background-color: var(--color-lighter);
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  height: 10rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100rem;
  padding: 0 4rem;
}

@media (max-width: 800px) {
  .modal {
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .modal {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 0 10rem 0;
    right: 0;
    top: 0;
    width: 100%;
  }

  .columns {
    flex-direction: column;
    padding: 4rem;
  }

  .left,
  .right {
    padding: 2rem 0;
    width: 100%;
  }

  .license {
    width: 100%;
  }

  .footer {
    position: fixed;
  }
}
